div.imageView{
  opacity:    0.5; 
  background: #000; 
  width:      100%;
  height:     100%; 
  
  z-index:    10;
  top:        0; 
  left:       0; 
  position:   fixed; /*Fixed will keep the image "stablilized"*/
}

input 
{
	position: fixed; 
}

.myImage
{ width:      100%;
  height:     100%; 
  max-width : auto;
  max-height : 650px; 
 
	
}